        <div class="scrollToTop"><a href="#" title="Scroll to top"><i class="fa fa-fw fa-arrow-up fa-lg"></i></a></div>
        <header class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-left clearfix">
                            <div class="logo smooth-scroll">
                                <a href="#banner"><img id="logo" src="/assets/images/logo.png" alt="OpenLP"></a>
                            </div>
                            <div class="site-name-and-slogan smooth-scroll">
                                <div class="site-name"><a href="#banner">OpenLP</a></div>
                                <div class="site-slogan">Empower Your Church</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="header-right clearfix">
                            <div class="main-navigation animated">
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#about">About</a></li>
                                                <li><a href="#features">Features</a></li>
                                                <li><a href="#downloads">Downloads</a></li>
                                                <li><a href="#testimonials">Testimonials</a></li>
                                                <li><a href="#support">Support</a></li>
                                                <li><a href="https://forums.openlp.org/">Forums</a></li>
                                                <li><a href="/blog/">Blog</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="banner" class="banner">
            <div class="banner-image"></div>
            <div class="banner-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                            <h1 class="text-center">Empower Your <span>Church</span></h1>
                            <p class="lead text-center">Experience the power of open source in your church with worship presentation software designed to fit how you want to run your service. Fast, flexible and easy to use, you will have your service up and running in a few minutes. These features and a whole lot more at a price that can't be beat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="about" class="title text-center">About <span>OpenLP</span></h1>
                        <p class="lead text-center">Free Worship Presentation Software for your Church.</p>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/assets/images/section-image-1.png" alt="">
                                <div class="space"></div>
                            </div>
                            <div class="col-md-6">
                                <p>OpenLP is a feature rich open-source church presentation platform that doesn't tie
                                   you down to subscription renewals, device platforms, or even the presentation
                                   computer! With OpenLP, you're free to upgrade as soon as the next release comes out;
                                   you're free to roam the sanctuary with our Android remote app, and you're free to
                                   install as many copies of the application as you want on Windows, Linux, Mac or
                                   FreeBSD. OpenLP continuously strives to deliver with excellence the technical
                                   elements of your church's worship service.
                                </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i> Cross platform between Linux, Windows, OS X and FreeBSD</li>
                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i> Display songs, Bible verses, presentations, images and more</li>
                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i> Control OpenLP remotely via the Android app or mobile web browser</li>
                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i> Quickly and easily import songs from other popular presentation packages</li>
                                    <li><i class="fa fa-caret-right pr-10 text-colored"></i> Easy enough to use to get up and running in less than 10 minutes</li>
                                </ul>
                            </div>
                        </div>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2><i class="fa fa-fw fa-code-fork"></i> Open Source</h2>
                                <p class="indent">
                                   OpenLP is an open-source presentation platform created for use in churches large and
                                   small. Say good-bye to the hassle of subscription costs and device platforms; this
                                   software offers a wide variety of features that will greatly benefit your worship
                                   service.
                                </p>
                                <p class="indent">
                                   But what does <em>open-source</em> mean? It means that the code that the developers
                                   write is available to you. But more than that, it means that OpenLP is, and always
                                   will be, free. Free to download, free to use, and free to give to all your friends.
                                   Being open-source also means that the developers are continuously working to improve
                                   this application, and welcome any comments or questions users may have.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h2><i class="fa fa-fw fa-wifi"></i> Remote Control</h2>
                                <p class="indent">
                                   Control your presentations from anywhere using OpenLP's first-of-its-kind remote
                                   system. With a built-in web app, you can access your service from any network-enabled
                                   device that has a browser and a touch screen. Change slides, or even change what is
                                   currently presenting from your phone. Search for songs, Bible verses, images and more
                                   without needing to touch the computer.
                                </p>
                                <p class="indent">
                                   For those with Android devices there is a native Android app available on the Play
                                   Store, to download for free. It has all the same features as the web app, packed into
                                   a native application.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="row">
                    <h2 class="text-center"><i class="fa fw fa-desktop"></i> Screenshots</h2>
                    <div class="col-md-offset-2 col-md-8">
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="/screenshots/mainwindow.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Control OpenLP from the Main Window">
                                    <img src="/screenshots/mainwindow.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="/screenshots/songimporterchoices.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Import Songs from Many Formats">
                                    <img src="/screenshots/songimporterchoices.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="/screenshots/song_edit_verse_in_use.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Editing a Song">
                                    <img src="/screenshots/song_edit_verse_in_use.png" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="/screenshots/stage_view_song_w_note.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Browser-based Stage View">
                                    <img src="/screenshots/stage_view_song_w_note.png" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section translucent-bg bg-image-1 blue">
            <div class="container object-non-visible" data-animation-effect="fadeIn">
                <h1 id="features"  class="text-center title">Features</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-body text-right">
                                <h4 class="media-heading">Songs</h4>
                                <p>Import songs from a variety of sources, tag verse types, set ordering of verses, add formatting, manage authors, search through songs and even add backing tracks to songs for when your band is on holiday.</p>
                            </div>
                            <div class="media-right">
                                <i class="fa fw fa-music"></i>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body text-right">
                                <h4 class="media-heading">Bibles</h4>
                                <p>Import Bibles from a number of formats, or even download a few verses you need from a Bible site, display verses in varying formats, easily search verses by scripture reference (e.g. Luke 12:10-17) or by phrase.</p>
                            </div>
                            <div class="media-right">
                                <i class="fa fa-fw fa-book"></i>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body text-right">
                                <h4 class="media-heading">Presentations</h4>
                                <p>Integration with PowerPoint, PowerPoint Viewer and LibreOffice Impress on Windows and LibreOffice Impress on Linux/FreeBSD means that you can import your presentations into OpenLP and control them via OpenLP.</p>
                            </div>
                            <div class="media-right">
                                <i class="fa fa-desktop"></i>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body text-right">
                                <h4 class="media-heading">Pictures</h4>
                                <p>Import pictures into OpenLP and organise them into folders. Create slide-shows by simply selecting multiple songs and drag-and-dropping the selection into the service, with auto-forwarding.</p>
                            </div>
                            <div class="media-right">
                                <i class="fa fa-picture-o"></i>
                            </div>
                        </div>
                    </div>
                    <div class="space visible-xs"></div>
                    <div class="col-sm-6">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-video-camera"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media</h4>
                                <p>Integration with VLC means that you can display almost any video file and play almost any audio file in OpenLP. Using VLC means that a wide variety of formats are supported.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-file-text"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Custom Slides</h4>
                                <p>Store your liturgy, announcements, or other custom slides in OpenLP. Just like a song, but with less structure, custom slides can also contain formatting and can be set to loop.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-android"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Android Remote</h4>
                                <p>Control OpenLP remotely using any tablet or phone running Android using our App in the Google Play Store. Search, go live, control slides, and more. Also accessible via any phone's web browser.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-play-circle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Stage View</h4>
                                <p>Built-in stage view accessible from any device with a web browser. Use any device on the local network as your stage monitor, meaning unlimited stage monitors without any extra hardware constraints.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="default-bg space blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="text-center">Get the Android Remote &nbsp;&nbsp;<a href="https://play.google.com/store/apps/details?id=org.openlp.android2"><img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png"></a></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container object-non-visible" data-animation-effect="fadeIn">
                <h1 class="text-center title" id="downloads">Downloads</h1>
                <div class="separator"></div>
                <p class="lead text-center">Select your operating system, and then click on the link below the selector to download OpenLP for your platform.</p>
                <div class="space"></div>
                <div class="row form-group product-chooser">
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-md-offset-2 col-lg-offset-2">
                        <div class="product-chooser-item clearfix" data-target="windows">
                            <div class="text-center"><i class="fa fa-windows fa-5x"></i></div>
                            <div class="text-center"><span class="title">Windows 7<br>or higher</span></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="product-chooser-item clearfix" data-target="macosx">
                            <div class="text-center"><i class="fa fa-apple fa-5x"></i></div>
                            <div class="text-center"><span class="title">Mac OS X 10.8<br>or higher</span></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="product-chooser-item clearfix" data-target="linux">
                            <div class="text-center"><i class="fa fa-linux fa-5x"></i></div>
                            <div class="text-center"><span class="title">Linux<br>and FreeBSD</span></div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                        <div class="product-chooser-item clearfix" data-target="source">
                            <div class="text-center"><i class="fa fa-code fa-5x"></i></div>
                            <div class="text-center"><span class="title">Source Code<br>for developers</span></div>
                        </div>
                    </div>
                </div>
                <div class="row space" id="download-section">
                    <div class="well col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                        <div class="intro">
                            <p>Select a platform from the options above</p>
                        </div>
                        <div class="windows hidden">
                            <h4>OpenLP 2.2 for Windows 7 and higher</h4>
                            <p>OpenLP-2.2.1-setup.exe / OpenLPPortable_2.2.1.paf.exe</p>
                            <p>
                                <div class="btn-group">
                                    <a href="https://get.openlp.org/2.2.1/OpenLP-2.2.1-setup.exe" class="btn btn-success"><i class="fa fa-fw fa-download"></i> Installer</a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-fw fa-cloud-download"></i> BitTorrent <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://get.openlp.org/2.2.1/OpenLP-2.2.1-setup.exe.torrent"><i class="fa fa-fw fa-file"></i> Torrent File</a></li>
                                            <li><a href="magnet:?xt=urn:btih:ace23e07070bb508f7af6f881ff9d71f4895158f&amp;tr=udp://tracker.unit193.net:6969&amp;tr=udp://open.demonii.com:1337"><i class="fa fa-fw fa-magnet fa-flip-vertical"></i> Magnet</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a href="https://get.openlp.org/2.2.1/OpenLPPortable_2.2.1.paf.exe" class="btn btn-primary"><i class="fa fa-fw fa-download"></i> PortableApps.com</a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-fw fa-cloud-download"></i> BitTorrent <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="https://get.openlp.org/2.2.1/OpenLPPortable_2.2.1.paf.exe.torrent"><i class="fa fa-fw fa-file"></i> Torrent File</a></li>
                                            <li><a href="magnet:?xt=urn:btih:d6c5b95778ce9bc066b9305f2da89e2b5a5ccaac&amp;tr=udp://tracker.unit193.net:6969&amp;tr=udp://open.demonii.com:1337"><i class="fa fa-fw fa-magnet fa-flip-vertical"></i> Magnet</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="macosx hidden">
                            <h4>OpenLP for Mac OS X 10.8 and higher</h4>
                            <p>OpenLP-2.2.dmg</p>
                            <p>
                                <a href="https://get.openlp.org/2.2/OpenLP-2.2.dmg" class="btn btn-success"><i class="fa fa-fw fa-download"></i> Direct Download</a>
                                <a href="https://get.openlp.org/2.2/OpenLP-2.2.dmg.torrent" class="btn btn-warning"><i class="fa fa-fw fa-cloud-download"></i> BitTorrent</a>
                                <a href="magnet:?xt=urn:btih:46a69790629817a731930545d7bb1ead052df62d&amp;tr=udp://tracker.unit193.net:6969&amp;tr=udp://open.demonii.com:1337" class="btn btn-danger"><i class="fa fa-fw fa-magnet fa-flip-vertical"></i> Magnet</a>
                            </p>
                        </div>
                        <div class="linux hidden">
                            <h4>Linux/FreeBSD Downloads</h4>
                            <p>Select a distribution</p>
                            <p>
                                <a href="https://launchpad.net/~openlp-core/+archive/release" class="btn btn-ubuntu"><i class="fa fa-fw fa-external-link"></i> Ubuntu</a>
                                <a href="https://admin.fedoraproject.org/pkgdb/package/OpenLP/" class="btn btn-fedora"><i class="fa fa-fw fa-external-link"></i> Fedora</a>
                                <a href="https://packages.debian.org/openlp" class="btn btn-debian"><i class="fa fa-fw fa-external-link"></i> Debian</a>
                                <a href="https://aur.archlinux.org/packages/openlp/" class="btn btn-arch"><i class="fa fa-fw fa-external-link"></i> Arch</a>
                                <a href="http://www.freshports.org/multimedia/py-openlp" class="btn btn-freebsd"><i class="fa fa-fw fa-external-link"></i> FreeBSD</a>
                            </p>
                        </div>
                        <div class="source hidden">
                            <h4>OpenLP 2.2 Source Code</h4>
                            <p>OpenLP-2.2.tar.gz</p>
                            <p>
                                <a href="https://get.openlp.org/2.2/OpenLP-2.2.tar.gz" class="btn btn-success"><i class="fa fa-fw fa-download"></i> Direct Download</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <p class="lead text-center">Looking for nightlies and development versions? They are now found on our <a href="https://openlp.io/">developer site</a>.</p>
            </div>
        </div>
        <div class="section translucent-bg bg-image-2 pb-clear">
            <div class="container object-non-visible" data-animation-effect="fadeIn">
                <h1 id="testimonials" class="title text-center">Testimonials</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Kudos to OpenLP!</h3>
                                <blockquote>
                                    <p>At our Bible college, we decided to switch to OpenLP because it was free. We found it to be feature-rich and easy to use. It's also constantly improving.</p>
                                    <footer>David Le Roux <cite title="George Whitefield College, Cape Town">George Whitefield College, Cape Town</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Thanks!</h3>
                                <blockquote>
                                    <p>Hello, I love your software! Praise the Lord. The fact that you all are willing to provide this for free is amazing.</p>
                                    <footer>Matt</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Good Work!</h3>
                                <blockquote>
                                    <p>OpenLP has made a tremendous positive impact on our services. The singing has increased tenfold as even those with poor eyesight can clearly see the onscreen lyrics.</p>
                                    <footer>H. Mullan</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Fantastic Software!</h3>
                                <blockquote>
                                    <p>I have been using OpenLP for a couple of years and I found it very easy to navigate and despite never having used this type of software before was able to get a service up and running in a couple of minutes once I had installed the program.</p>
                                    <footer>Peter G.</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">A Huge Blessing!</h3>
                                <blockquote>
                                    <p>Just wanted to drop you a line to say thank you for a great product. I'm traveling around to small churches helping them upgrade their media environments. With little or no budgets, OpenLP has been a great help. I wish I could capture the look on a pastor's face when I tell him it's a free software.</p>
                                    <footer>Brian</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media testimonial">
                            <div class="media-left">
                                <i class="fa fa-fw fa-quote-left fa-3x fa-lg"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">Great Product!</h3>
                                <blockquote>
                                    <p>Sunday morning I set the up projector, gave a 10 minute lesson to the young lady who does our overheads. Everything went smoothly. She was so excited, the congregation thought it was great, our priest was ecstatic.</p>
                                    <footer>John H. <cite title="Saint Patrick's RC Church in Caledonia, Ontario, Canada">St Patrick's Church, Canada</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="translucent-bg blue">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="text-center">Used by churches worldwide!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="footer section">
                <div class="container">
                    <h1 class="title text-center" id="support">Support</h1>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="footer-content">
                                <p class="large">OpenLP is not developed by a company, but by a group of volunteers who dedicate part of their spare time to developing this application. Please be patient if we do not answer immediately.</p>
                                <ul class="list-icons">
                                    <li><i class="fa fa-fw fa-book pr-10"></i> Manual: <a href="http://manual.openlp.org/">manual.openlp.org</a></li>
                                    <li><i class="fa fa-fw fa-pencil-square-o pr-10"></i> Wiki: <a href="http://wiki.openlp.org/">wiki.openlp.org</a></li>
                                    <li><i class="fa fa-fw fa-envelope-o pr-10"></i> E-mail: support(at)openlp.org</li>
                                    <li><i class="fa fa-fw fa-comments pr-10"></i> IRC Channel: <a href="http://webchat.freenode.net/?randomnick=1&amp;channels=openlp&amp;prompt=1&amp;uio=d4">#openlp on Freenode.net</a></li>
                                    <li><i class="fa fa-fw fa-wrench pr-10"></i> Developer Central: <a href="https://openlp.io/">openlp.io</a></li>
                                    <li><i class="fa fa-fw fa-money pr-10"></i> Donate: <a href="/donate">find out more</a></li>
                                </ul>
                                <ul class="social-links">
                                    <li class="googleplus"><a target="_blank" href="https://plus.google.com/b/117120749304988900189/117120749304988900189" title="Follow us on Google+"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/openlp" title="Follow us on Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com/openlp" title="Follow us on Twitter"><i class="fa fa-twitter-square"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCUFB_m4mbkUKROrbO6CxJtQ" title="Follow us on YouTube"><i class="fa fa-youtube-square"></i></a></li>
                                    <li class="reddit"><a target="_blank" href="https://www.reddit.com/r/openlp" title="Follow us on Reddit"><i class="fa fa-reddit-square"></i></a></li>
                                    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/grp/home?gid=96031" title="Follow us on LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-content">
                                <div id="success-alert" class="hidden alert alert-success" role="alert">
                                    <i class="fa fa-fw fa-check"></i> Your message has been sent! We'll get back to you as soon as we can.
                                </div>
                                <div id="error-alert" class="hidden alert alert-danger" role="alert">
                                    <i class="fa fa-fw fa-exclamation-triangle"></i> Oh dear! Something went wrong while sending your message.
                                </div>
                                <form role="form" id="footer-form" method="post" action="/contact-us.php">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" placeholder="E-mail address" name="email" required>
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="subject">Subject</label>
                                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" required>
                                        <i class="fa fa-comment form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="message">Message</label>
                                        <textarea class="form-control" rows="8" id="message" placeholder="Message" name="message" required></textarea>
                                        <i class="fa fa-pencil form-control-feedback"></i>
                                        <span class="help-text">Please include the version of OpenLP you're using, and which operating system you have installed.</span>
                                    </div>
                                    <div class="checkbox has-feedback">
                                        <label>
                                            <input type="checkbox" name="me-too" value="1">&nbsp;&nbsp;Send me a copy
                                        </label>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <div class="g-recaptcha" data-sitekey="6Lc7Hg4TAAAAALVlRY_kP29PpAFkF90UW1dVDgJR"></div>
                                    </div>
                                    <input type="submit" value="Send" class="btn btn-default">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                Copyright &copy; 2004-2015 OpenLP Developers |
                                Theme based on <a href="http://htmlcoder.me/worthy-free-bootstrap-template">Worthy</a> by HTML Coder |
                                <i class="fa fa-fw fa-money"></i> <a href="/donate">Donate to OpenLP</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
